/* canvas-music-notation.css */
/*  by Aaron Dull 4/1/2020   */
* {
    font-family:monospace;
}
h1.mainh1 {
    color:#26a;
    background-color:#ccd;
}
div.header {
    
}
div.wrapper {

}
div.main {

}