body {
    background-color:#153;
    color:#cca;
    font-family:monospace;
    font-size:2em;
    padding-left: 20px;
}

a {
    color:#86b;
}
a:hover {
    color:#97c;
}

div#time2 {
    background-color:#334;
    padding:30px;
    padding-top:0px;
    width:115px;
    position:absolute;
    top:0px;
    left:250px;
}
div.mylinks {
    width:200px;
    background-color:#000;
    padding-top: 5px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-left: 40px;
    border-style: solid;
    border-color:#def;
    border-radius:5px;
    font-size:18px;
    
}
iframe.my2020receipts {
    position:fixed;
    top:0px;
    left:500px;
      }