* {
    padding:0;
    margin:0px;
    font-family:monospace;
}
p {
    color:#b7f;
    background-color:#444444;
}
p#welcome{
    color:#ffffff;
    background-color:#000000;
    padding:8px;
    width:80%;
    margin:auto;
    margin-top:20px;
  
}
div {
    background-color:#a68;
    padding:10px;
}
div.main {
    position:relative;
    margin-left: 13%;
    padding:10px;
}
div.sidenav {
    height:100%;
    background-color:#077;
    color:#00f;
    position:absolute;
    width:13%;
    padding:4px;
    line-height: 1.0;
}
div.sidenav a {
    color:#ccf;
}
div.sidenav a:link {
    COLOR:#037;
}
div.sidenav a:visited {
    COLOR:#000;
}
div.sidenav a:active {
    COLOR:rgb(57, 160, 117);
}
div.sidenav a:hover {
    COLOR:#0f0;
}
div.subnav {
    background-color:#914;
    margin:1px;
    padding-left:0px;
}
div.sidenavItem {
    margin-top:3px;
    margin-bottom:3px;
    margin-left:0px;
    margin-right:0px;
    background-color:#c37;
}
div.bottomnav{
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#datetime{
    font-family:monospace;
    font-size:24px;}
#canvasGameDiv{
    background-color:#fff;
}
#animateMain{
    background: #fa3;
    -webkit-animation: mymove 1s infinite; /* Chrome, Safari, Opera */
    animation: mymove 30s infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {background-color: #fa3;}
    to {background-color: #f3a;}
  } 
  /* Standard syntax */
  @keyframes mymove {
    from {background-color: #fa3;}
    to {background-color: #f3a;}
  }
