body {
  background-color:#bbee77;
  font-family:monospace;
  font-size: 20px;
  /* background-image:url('20200119_173408-background.jpg'); */
  background-image: linear-gradient(#ddffee, #660033);
}

.header_div {
  padding-left:12%;
}

.biodiv {
  width: 100%;
  max-width: 1000px;
  font-size: 15px;
  background-color: #ddd;
  text-align: justify;
  padding: 15px;
  margin-top: 22px;
}

.social_div{
  margin-top:5px;
}
table#projects-table {
  background-color:#ddeeff;
  border-collapse: collapse;
}
table#projects-table td {
  border: 1px solid #332266;
  padding: 7px;
}
