* {
    padding:0;
    margin:0px;
    font-family:monospace;
}
p {
    color:#b7f;
    background-color:#444444;
}
p#welcome{
    color:#ffffff;
    background-color:#000000;
    padding:8px;
    width:80%;
    margin:auto;
    margin-top:20px;
}
div {
    background-color:#a68;
    padding:10px;
}
div.main {
    position:relative;
    margin-left: 13%;
    padding:10px;
}
div.sheetMusicCanvas{
    background-color:#fff;
}
div.sidenav {
    height:100%;
    background-color:#077;
    color:#00f;
    position:absolute;
    width:13%;
    padding:3px;
    line-height: 1.7;
}
div.sidenav a {
    background-color:#dd77ff;
    padding:2px 8px 3px 5px;
    margin:0px;
    border-radius:20%;
    color:#ccf;
    width:100%;
}
div.sidenav a:link {
    COLOR:black;
    TEXT-DECORATION:none;
    font-weight:normal
}
div.sidenav a:visited {
    COLOR:black;
    TEXT-DECORATION:none;
    font-weight:normal
}
div.sidenav a:active {
    COLOR:rgb(57, 160, 117);
    TEXT-DECORATION:none
}
div.sidenav a:hover {
    COLOR:#fff;
    TEXT-DECORATION:none;
    font-weight:none
}
#datetime{
    font-family:monospace;
    font-size:24px;}
#canvasGameDiv{
    background-color:#fff;
}
#animateMain{
    background: #fa3;
    -webkit-animation: mymove 1s infinite; /* Chrome, Safari, Opera */
    animation: mymove 30s infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {background-color: #fa3;}
    to {background-color: #f3a;}
  } 
  /* Standard syntax */
  @keyframes mymove {
    from {background-color: #fa3;}
    to {background-color: #f3a;}
  }
