body {
    /*background-image: url('20180114_122925.jpg');
*/

border: 2px solid black;
background: url('20180114_122925.jpg');
background-repeat: no-repeat;
background-size: 100% 900px;
background-blend-mode: lighten;
font-family:monospace;
}
#banana {
    background-color:#0ef;
    opacity: 0.9;
    padding:20px;
    margin-top:10%;
    margin-left:5%;
    margin-right:15%;
}
#homelink {
    background-color:#000;
    color:#aaa;
    text-transform:uppercase;
    opacity:0.8;
    padding:14px;
    position: absolute;
    margin-left:18px;
    top:5%;
    font-size:20px;
}