body {
    /*background-image: url('20180114_122925.jpg');
*/

border: 2px solid black;
background: url('20180114_122925.jpg');
background-repeat: no-repeat;
background-size: 100% 900px;
background-blend-mode: lighten;
}
#banana {
    background-color:#0ef;
    opacity: 0.9;
    padding:20px;
    margin-top:4%;
    margin-left:5%;
    margin-right:15%;
}