div {
    background-color:#ff0;
    padding:10px;
}
div.main {
    position:relative;
    margin-left: 20%;
    padding:10px;
}
div.sidenav a {
    background-color:#9922ff;
    padding:2px 8px 3px 5px;
    margin:0px;
    border-radius:20%;
    color:#ccf;
}
