* {
    padding:0;
    margin:0;
}
.sidenav {
    height:100%;
    background-color:#033;
    color:#ddf;
    position:absolute;
    width:20%;
    padding:6px;
}
.sidenav a {
    color:#b9f;
}
.main {
    position:relative;
    margin-left: 20%;
    padding:2px;
}